<!DOCTYPE html>
<html lang="es">
<head>
	    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv="x-ua-compatible" content="IE=9" /><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Intelligent Muscle Training :: Nicolás Mauro</title>
    <meta name="description" content="In favor of science and against trends. A book where both the professional of physical activity and the person who has just started in the world of bodybuilding will have a clear and didactic guide on how to train in an effective and safe way.">
    <meta name="keywords" content="advanced intelligent bodybuilding, gym routines, 
sciences applied to muscle development, fundamentals and applications for the management of body composition, fat burning and muscle definition, enhance muscle development, Muscle hypertrophy, suplementation, sports nutrition, pharmacology, coaching, personalized trainingo, Intelligent Muscle Training seminar, Muscular physiology, Lipolysis and oxidation of fats, bodybuilding and fitness, nutrition and sports supplementation, 
high intensity functional training, how to lose weight quickly">
    <meta name="author" content="Nicolás Mauro">
	<meta property="og:title" content="Intelligent Muscle Training - Nicolás Mauro"/>
	<meta property="og:description" content="Sciences applied to muscle development"/>
	<meta property="og:image" content="http://www.nicolasmauro.com/img/publi.jpg" />
	<meta property="og:url" content="http://www.musculacioninteligente.com"/>

	<!-- Favicon -->
    <link rel="shortcut icon" href="../img/favicon.ico" type="image/x-icon">
	<link rel="icon" href="../img/favicon.ico" type="image/x-icon">
	
	<!-- CSS -->
	<link rel="stylesheet" href="../css/bootstrap.min.css">
	<link rel="stylesheet" href="../css/animate.css" type="text/css">
	<link rel="stylesheet" href="../css/owl.carousel.min.css" type="text/css">
	<link rel="stylesheet" href="../css/owl.theme.default.min.css" type="text/css">
	<link rel="stylesheet" href="../fonts/font-awesome/css/font-awesome.css" />
	<link rel="stylesheet" href="../css/estilos.css" />
	<link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-74980781-3"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-74980781-3');
	</script>


</head>
<body data-spy="scroll" data-target=".menu-principal">
	<div class="" id="app">
		<nav id="nav-top" class="navbar navbar-default navbar-fixed-top" role="navigation">
			<div class="container">
				<div class="navbar-header">
				  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".menu-principal">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				  </button>
				</div>
				<div class="collapse navbar-collapse menu-principal" data-target=".menu-principal">
					<ul class="nav navbar-nav">
						<li class="active"><a href="#home">Home</a></li>
						<li><a href="#mi">Intelligent Muscle Training</a></li>
						<li><a href="#mia">Advanced Intelligent Muscle Training</a></li>
						<li><a href="#autor">Author</a></li>
						<li><a href="#testimonios">Testimonials</a></li>
						<li><a href="#galeria">Gallery</a></li>
						<li><a href="#contacto">Contact</a></li>
					</ul>
				</div><!-- /.navbar-collapse -->
			</div>
		</nav> 
		<div class="top">
			<section id="home" class="">
					<div class="lang">
						<select id="idiomas">
							<option value="../es/index.html">Español</option>
							<option value="../en/index.html" selected="selected">English</option>
						</select>
					</div>
					<div class="container-fluid text-center">
						<div class="row">
							<div class="col-md-12">
								<div class="home-logo wow animated pulse">
									<h1 class="head-lead main-head-lead">INTELLIGENT <br>MUSCLE TRAINING</h1>
								</div>
								<div class="titulo">
									<h2 class="head-lead wow animated flipInX" data-wow-delay="0.2s">IN FAVOR OF <strong>SCIENCE</strong><br>AGAINST <strong>TRENDS</strong></h2>
								</div>
								<div class="home-desc">
									<ul class="list-inline">
									  <li><a href="#mi">Intelligent Muscle Training</a></li>
									  <li><a href="#mia">Advanced Intelligent Muscle Training</a></li>
									  <li><a href="#autor">Author</a></li>
									  <li><a href="#testimonios">Testimonials</a></li>
									  <li><a href="#galeria">Gallery</a></li>
									  <li><a href="#contacto">Contact</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
			</section>
			<section id="mi" class="">
				<div class="container text-center">
					<div class="row">
						<header class="col-md-12 libros-header">
							<h2 class="wow animated fadeInDown">Intelligent Muscle Training</h2>
							<h3>Muscle hypertrophy</h3>
							<p>	SECOND EDITION</p>
						</header>
					</div>
					<div class="row libros-cont">
						<div class="col-md-4">
							<figure>
								<img src="../img/libros/MI3d.png" class="img-responsive wow animated zoomInLeft" alt="Intelligent Muscle Training" data-wow-delay="0.4s"/>
							</figure>
							<p class="libros-libro-desc">By Nicolás E. Mauro. 220 pages. Format 9x6 in. This book also contains illustrations with more than 50 exercises.</p>
							<div class="libros-buy wow animated fadeIn" data-wow-delay="0.3s">
								<div>
									<p>International Sale</p>
									<a href="https://www.paypal.me/NicolasMauro/40" target="_blank" title="Buy by Paypal"><img src="../img/libros/pp.png" class="pp" alt="Intelligent Muscle Training por PayPal"/></a>
								</div>
								<!--<div>
									<p>Sale in Argentina</p>
									<a href="https://www.mercadopago.com/mla/checkout/pay?pref_id=149506461-23df3282-d09e-4175-a8d7-f0b607e29d2e" target="_blank" title="Comprar vía MercadoPago"><img src="../img/libros/mp.png" width="60" alt="Intelligent Muscle Training por Mercado Pago"/></a>
								</div>-->
								<p class="libros-nota">Note: The value of the shipment is included</p>
								<p class="libros-nota">Send an e-mail <a href="mailto:nicolasentrenador@yahoo.com?Subject=Venta%20libro">nicolastentrenador@yahoo.com</a> to coordinate the shipping</p>
							</div>
						</div>
						<div class="col-md-8 text-justify wow animated fadeIn" data-wow-delay="0.3s">
							<article>
								<p>Attention: if you have already been some time in the gym, you like to train and do not see results, or if you are just entering the world of muscle building and do not know where to start, this book is for you. Learn and master in a clear, easy and effective way everything related to muscle hypertrophy.</p>
								<ul>
									<li><i class="fa fa-check" aria-hidden="true"></i>Learn in a detailed and illustrated manner the 50 main exercises of muscle building</li>
									<li><i class="fa fa-check" aria-hidden="true"></i>Learn to structure a training session based on your objectives</li>
									<li><i class="fa fa-check" aria-hidden="true"></i>Discover which major and secondary muscles participate in each exercise</li>
									<li><i class="fa fa-check" aria-hidden="true"></i>Understand which exercises are potentially harmful and how to modify them</li>
									<li><i class="fa fa-check" aria-hidden="true"></i>Use all the variables of load training in a practical and effective way: intensity, duration, volume, density, frequency, selection of exercises, rest times</li>
									<li><i class="fa fa-check" aria-hidden="true"></i>Conquer and learn to use the 4 factors that induce muscle development: Mechanical Stress, Metabolic Stress, Time Under Stress, Muscular Damage</li>
									<li><i class="fa fa-check" aria-hidden="true"></i>Master the main methods of training: direct series, same muscle two-part training series, two-part training antagonist series, three-part training series, giant sets, drop sets, preexhaust, post-exhaust, ascending pyramids, descending pyramids, triangle pyramids, burn, failure, forced, negative, bulgarian, german, rest pause, cluster, HST, and much more...</li>
									<li><i class="fa fa-check" aria-hidden="true"></i>Learn the best training techniques to develop each muscle group.</li>
									<li><i class="fa fa-check" aria-hidden="true"></i>Understand what factors are limiting your muscle gains and how to avoid them.</li>
									<li><i class="fa fa-check" aria-hidden="true"></i>Learn what to eat to achieve maximum muscle growth with our exclusive sports nutrition guide.</li>
									<li><i class="fa fa-check" aria-hidden="true"></i>Power your muscle gains to the fullest with our sports supplementation guide.</li>
								</ul>
								<p>Intelligent Muscle Training is the result of 15 years of sports experience and professional training within the world of exercise sciences. A book where both the physical activity professional and the person who has just started in the world of muscle building will have a clear and didactic guide on how to train in an effective and safe manner, understanding each of the training variables for muscular development.</p>
								<p>My greatest wish, from my role as teacher and trainer in exercise sciences, is to provide the reading public with important and extremely essential aspects to take into account when starting any training program for muscle development.</p>
							</article>
							<div class="libros-buy-m text-center wow animated fadeIn" data-wow-delay="0.3s">
								<div>
									<p>International Sale</p>
									<a href="https://www.paypal.me/NicolasMauro/40" target="_blank" title="Buy by Paypal"><img src="../img/libros/pp.png" class="pp" alt="Intelligent Muscle Training by PayPal"/></a>
								</div>
								<!--<div>
									<p>Sale in Argentina</p>
									<a href="https://www.mercadopago.com/mla/checkout/pay?pref_id=149506461-23df3282-d09e-4175-a8d7-f0b607e29d2e" target="_blank" title="Comprar vía MercadoPago"><img src="../img/libros/mp.png" width="60" alt="Intelligent Muscle Training por Mercado Pago"/></a>
								</div>-->
								<p class="libros-nota">Note: The value of the shipment is included</p>
								<p class="libros-nota">Send an e-mail <a href="mailto:nicolasentrenador@yahoo.com?Subject=Venta%20libro">nicolastentrenador@yahoo.com</a> to coordinate the shipping</p>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section id="mia">
				<div class="container text-center">
					<div class="row">
						<header class="col-md-12 libros-header">
							<h2 class="wow animated fadeInDown">Intelligent Muscle Training <span>Advanced</span></h2>
							<h3>Fat Burning and Muscle Definition</h3>
						</header>
					</div>
					<div class="row libros-cont">
						<div class="col-md-4 col-md-push-8">
							<figure>
								<img src="../img/libros/MIA3d_en.png" class="img-responsive wow animated zoomInRight" alt="Advanced Intelligent Muscle Training" data-wow-delay="0.4s"/>
							</figure>
							<p class="libros-libro-desc">Advanced Intelligent Muscle Training By Nicolás E. Mauro. 200 pages Format 9x6 in</p>
							<div class="libros-buy wow animated fadeIn" data-wow-delay="0.3s">
								<div>
									<p>International Sale</p>
									<a href="https://www.paypal.me/NicolasMauro/40" target="_blank" title="Buy by Paypal"><img src="../img/libros/pp.png" class="pp" alt="Advanced Intelligent Muscle Training by PayPal"/></a>
								</div>
								<!--<div>
									<p>Sale in Argentina</p>
									<a href="https://www.mercadopago.com/mla/checkout/pay?pref_id=149506461-23df3282-d09e-4175-a8d7-f0b607e29d2e" target="_blank" title="Comprar vía MercadoPago"><img src="../img/libros/mp.png" width="60" alt="Advanced Intelligent Muscle Training por Mercado Pago"/></a>
								</div>-->
								<p class="libros-nota">Note: The value of the shipment is included</p>
								<p class="libros-nota">Send an e-mail <a href="mailto:nicolasentrenador@yahoo.com?Subject=Venta%20libro">nicolastentrenador@yahoo.com</a> to coordinate the shipping</p>
							</div>
						</div>
						<article class="col-md-8 col-md-pull-4 text-justify wow animated fadeIn" data-wow-delay="0.3s">
							<p>In this book you will learn:</p>
							<ul>
								<li><i class="fa fa-check" aria-hidden="true"></i>What are the mechanisms that inhibit or enhance fat burning.</li>
								<li><i class="fa fa-check" aria-hidden="true"></i>The structure and physiology of adipose tissue.</li>
								<li><i class="fa fa-check" aria-hidden="true"></i>Hormones participating in the creation of adipose tissue.</li>
								<li><i class="fa fa-check" aria-hidden="true"></i>Hormones that participate in fat burning.</li>
								<li><i class="fa fa-check" aria-hidden="true"></i>Why fats are deposited more in certain parts of the body. How to fight that rebellious fat.</li>
								<li><i class="fa fa-check" aria-hidden="true"></i>Cardiovascular exercise or bodybuilding to burn fat?</li>
								<li><i class="fa fa-check" aria-hidden="true"></i>How to measure the intensity of training?</li>
								<li><i class="fa fa-check" aria-hidden="true"></i>Which training methods are the most effective for using fats as energy source.</li>
								<li><i class="fa fa-check" aria-hidden="true"></i>What should I eat before and after training to enhance fat burning.</li>
								<li><i class="fa fa-check" aria-hidden="true"></i>Glycemic index or glycemic load as referents for a feeding plan to reduce adipose tissue.</li>
								<li><i class="fa fa-check" aria-hidden="true"></i>Which nutritional supplements really work and which are a waste of money.</li>
								<li><i class="fa fa-check" aria-hidden="true"></i>The revolution of HIIT and its practical application.</li>
								<li><i class="fa fa-check" aria-hidden="true"></i>High intensity circuit protocols.</li>
								<li><i class="fa fa-check" aria-hidden="true"></i>The problem of “light” products and sweeteners.</li>
								<li><i class="fa fa-check" aria-hidden="true"></i>Losing weight or losing fat? The big dilemma.</li>
								<li><i class="fa fa-check" aria-hidden="true"></i>Fasted training to burn more fats? Yes or No? Why?</li>
								<li><i class="fa fa-check" aria-hidden="true"></i>All this and much more</li>
							</ul>
							<p>This book includes a nutritional and sports supplement guide to promote fat burning and muscle definition</p>
							<p>After the great success of my first book Intelligent Muscle Training which is focused on muscle development I received hundreds of e-mails requesting a book focused on the reduction of adipose tissue and weight loss. In the face of this great request from my readers I saw myself in the urgent necessity of writing a book on this topic. Trying to follow the easy-to-read didactic style of my first book and after an arduous year of research and development, my latest work called Advanced Intelligent Muscle Training, a book focused entirely on fat burning, weight loss and muscular definition, is ready.</p>
							<p>Now you can finally understand in a very clear way each of the processes that inhibit, slow down or enhance fat burning. From my role as a teacher in exercise science, my greatest desire with this book, is to bring all my readers the latest scientific advances in everything related to effectively and above all healthily achieve an aesthetic and defined body.</p>
						</article>
						<div class="libros-buy-m wow animated fadeIn" data-wow-delay="0.3s">
							<div>
								<p>International Sale</p>
								<a href="https://www.paypal.me/NicolasMauro/40" target="_blank" title="Buy by Paypal"><img src="../img/libros/pp.png" class="pp" alt="Advanced Intelligent Muscle Training by PayPal"/></a>
							</div>
							<!--<div>
								<p>Sale in Argentina</p>
								<a href="https://www.mercadopago.com/mla/checkout/pay?pref_id=149506461-23df3282-d09e-4175-a8d7-f0b607e29d2e" target="_blank" title="Comprar vía MercadoPago"><img src="../img/libros/mp.png" width="60" alt="Advanced Intelligent Muscle Training por Mercado Pago"/></a>
							</div>-->
							<p class="libros-nota">Note: The value of the shipment is included</p>
							<p class="libros-nota">Send an e-mail <a href="mailto:nicolasentrenador@yahoo.com?Subject=Venta%20libro">nicolastentrenador@yahoo.com</a> to coordinate the shipping</p>
						</div>
					</div>
				</div>
			</section>
			<section id="autor">
					<div class="container">
						<div class="row">
							<header class="col-md-12 libros-header autor">
								<h2 class="wow animated fadeInDown text-center">Author</h2>
							</header>
							<div class="col-md-8">
								<p>Nicolás E, Mauro is a passionate and outstanding teacher in exercise sciences, specialized in body composition management. With more than 15 years within fitness world and bodybuilding, he has given his knowledge to thousands of people throughout Latin America.</p>
								<h4>Academic and Professional Training:</h4>
								<ul>
									<li>Senior Technician in Physical Activity and Sports. Superior Institute of Physical Activity and Sports. <strong>Argentina - ISADE</strong>.</li>
									<li>Certified Personal Trainer (NSCA-CPT). National Strength and Conditioning Association. <strong>USA / España</strong>.</li>
									<li>University Diploma in Body Building Applied to Physical Preparation and Fitness. University of Business and Social Sciences. <strong>Argentina - UCES</strong>.</li>
									<li>University Diploma in Sports Nutrition and Supplementation. University of Congress.<strong> Argentina - UC.</strong></li>
									<li>University Specialist in Sports Nutrition. <strong>Spain - University of Cadiz.</strong></li>
									<li>Diploma in Sports Training specialized in Integral Physical Conditioning. Sports Development Institute for Highly Quialified Trainers. <strong>México - IDDEAC.</strong></li>
								</ul>
								<p class="small">You can have more information about me at <a href="http://www.nicolasmauro.com/" target="_blank">www.nicolasmauro.com</a></p>
							</div>
							<div class="col-md-4">
								<img class="img-responsive img-autor" src="../img/autor.png">
							</div>	
						</div>
						
					</div>
			</section>
			<section id="testimonios" class="">
				<div class="container text-center">
					<div class="row">
						<header class="col-md-12 testimonios-header">
							<h2 class="wow animated fadeInDown">Testimonials</h2>
						</header>
					</div>
					<div class="row">
						<div class="col-md-12 owl-carousel owl-theme owl-testimonios">
							<article v-for="ac in perfiles">
								<figure class="testimonios-img-cont">
									<img :src="'../img/testimonios/'+ac.img +'.jpg'" class="img-responsive img-circle"/>
									<figcaption>
										<h4>{{ac.nombre}}</h4>
										<p>{{ac.oficio}}</p>
									</figcaption>
								</figure>
								<div class="testimonios-text-cont" >	
									<p>"{{ac.texto}}"</p>
								</div>
							</article>
						</div>
					</div>
				</div>
			</section>
			<section id="galeria" class="">
				<div class="text-center">
					<div class="row personas-cont">
						<div class="col-md-12">
							<h2>People who trusted in  <span>Intelligent Muscle Training</span></h2>
						</div>
						<div class="col-md-12 owl-carousel owl-theme owl-personas">
							<article v-for="ps in personas">
								<figure class="personas-img-cont">
									<img v-bind:src="'../img/personas/'+ps.img +'.jpg'" class="img-responsive"/>
								</figure>
							</article>
						</div>
						<div class="col-md-12">
							<p class="personas-texto-under"><i>Presence in Latin America, Spain, England and USA</i></p>
						</div>
					</div>
				</div>
			</section>
			<section id="contacto">
				<div class="container">
					<div class="row">
						<header class="col-md-12 contacto-header">
							<h2 class="text-center wow animated fadeInDown">Contact</h2>
							<p class="text-muted text-center">For any kind of questions do not hesitate to contact me. All fields are required. <br>You can see more at <a href="http://www.nicolasmauro.com/" target="_blank">www.nicolasmauro.com</a>.</p>
							<p></p>
						</header>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<div class="row">
								<form id="contactForm" class="form-horizontal  wow animated fadeInLeft" role="form" method="POST" name="sentMessage" action="mail/contact_me.php">
									<div class="col-sm-4 col-sm-offset-2">
										<div class="form-group">
											<div class="col-sm-12">
											  <input type="text" class="form-control" id="name" name="name" placeholder="First name*" >
											</div>
										</div>
										<div class="form-group">
											<div class="col-sm-12">
											  <input type="tel" class="form-control" id="phone" name="phone" placeholder="Phone*" >
											</div>
										</div>
										<div class="form-group">
											<div class="col-sm-12">
											  <input type="email" class="form-control" id="email" name="email" placeholder="E-mail*" >
											</div>
										</div>
									</div>
									<div class="col-sm-4">
										<textarea class="form-control" rows="7" id="message" name="message" placeholder="Message / subject*" ></textarea>
									</div>
									<div class="col-sm-12 text-center wow animated fadeInUp">
									  <button id="form-submit" type="submit" class="btn btn-primary">Send</button>
									</div>
								</form>
							</div>
							<div id="success"></div>
							<div class="row">
								<div class="col-sm-10 col-sm-offset-1 text-center">
									<ul class="contact-items">
										<li><a href="https://www.facebook.com/MusculacionInteligente" target="_blank" title="Facebook"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
										<li><a href="tel:+541122436870" target="_blank" title="Whatsapp"><i class="fa fa-whatsapp" aria-hidden="true"></i></a></li>
										<li><a href="mailto:nicolasentrenador@yahoo.com" title="E-mail"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
										<li><a href="https://www.instagram.com/musculacion_inteligente_mauro/" target="_blank" title="Instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<footer class="panel-footer">
				<div class="container">
					<div class="row">
						<div class="col-md-6 col-sm-6 col-xs-12 footer-left">
							
						</div>
						<div class="col-md-6 col-sm-6 col-xs-12 footer-right text-right">
							<P>All rights reserved - Nicolás Mauro ©</p>
						</div>
					</div>
				</div>
			</footer>
		</div> <!-- container -->
	</div> <!-- container general -->
	
	<script type="text/javascript" src="../js/jquery-2.2.3.min.js"></script>
	<script type="text/javascript" src="../js/bootstrap.min.js"></script>
	<script type="text/javascript" src="../js/jqBootstrapValidation.js"></script>
	<script type="text/javascript" src="../js/contacto_en.js"></script>
	<script type="text/javascript" src="../js/wow.min.js"></script>
	<script type="text/javascript" src="../js/owl.carousel.min.js"></script>
	<script type="text/javascript" src="../js/testimonios_en.js"></script>
	<script type="text/javascript" src="../js/custom.js"></script>
	<script>
	  new WOW().init();
	</script>
</body>
</html>